.chat-main  
  .chat-main__header
    .header__items
      .header__items--name
        test
        .header__items--member
          Member : koji
      .header__edit
        = link_to "#", class: "header__edit--icon"  do
          Edit   
    .contens__message-list
      .contens__message
        .contens__message--name
          koji
        .contens__message--date
          2019/11/20(wed) 17:43:01
      .contens__message--comments
        テスト
    .chat-main__footer
      .imagebox__text
        .imagebox__input-icon
          %input.imagebox__text-input{type:"text", name:"text", placeholder:"type a message",  id:"text"}  
            %label.imagebox__text-icon{for: "image"}
              = icon('far', 'file-image')
              %input.input-image-box{type:"file", name:"image", id:"image"}
        %input.imagebox__send-icon{type:"submit", name:"send", value:"Send", id:"send", class:"submit-btn"}
          

